@font-face {
    font-family: Iosevka;
    font-feature-settings: "liga" 1;
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url(/fonts/iosevka-regular.woff2)
}

* {
  box-sizing: border-box;
}

body {
    background-color: #15662F;
    margin: 10px;
}

.header {
    overflow: hidden;
}

.pre_logo {
    font-family: Iosevka;
    font-size: 17px;
}

.logo {
    color: #FFEE93;
    font-family: Iosevka;
    font-size: 17px;
}

.social {
    color: #FFEE93;
    font-family: Iosevka;
    font-size: 17px;
}

.line {
    color: #FFEE93;
    font-family: Iosevka;
    font-size: 18px;
    float: left;
}

.cursor {
    color: #FFEE93;
    font-family: Iosevka;
    font-size: 18px;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

.command {
    color: #16BA2E;
    font-family: Iosevka;
    font-size: 18px;
}

a:link {
    color: #FFEE93;
    text-decoration: none;
    
}

a:visited {
    color: #FFEE93;
    text-decoration: none;
}

a:hover {
    color: #FFEE93;
    border-bottom:1px dashed #298ac5;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFEE93;
  }
}

@-moz-keyframes "blink" {
    from, to {
    color: transparent;
  }
  50% {
    color: #FFEE93;
  }
}

@-webkit-keyframes "blink" {
    from, to {
      color: transparent;
  }
    50% {
      color: #FFEE93;
  }
}

@-ms-keyframes "blink" {
    from, to {
     color: transparent;
  }
    50% {
      color: #FFEE93;
  }
}

@-o-keyframes "blink" {
    from, to {
      color: transparent;
  }
    50% {
      color: #FFEE93;
  }
}